USE [Hospital]
GO
/****** Object:  Table [dbo].[Urgencias]    Script Date: 29/05/2020 03:57:22 p. m. ******/
DROP TABLE IF EXISTS [dbo].[Urgencias]
GO
/****** Object:  Table [dbo].[Salas]    Script Date: 29/05/2020 03:57:22 p. m. ******/
DROP TABLE IF EXISTS [dbo].[Salas]
GO
/****** Object:  Table [dbo].[Piso]    Script Date: 29/05/2020 03:57:22 p. m. ******/
DROP TABLE IF EXISTS [dbo].[Piso]
GO
/****** Object:  Table [dbo].[Pacientes]    Script Date: 29/05/2020 03:57:22 p. m. ******/
DROP TABLE IF EXISTS [dbo].[Pacientes]
GO
/****** Object:  Table [dbo].[Hospital]    Script Date: 29/05/2020 03:57:22 p. m. ******/
DROP TABLE IF EXISTS [dbo].[Hospital]
GO
/****** Object:  Table [dbo].[Enfermeras]    Script Date: 29/05/2020 03:57:22 p. m. ******/
DROP TABLE IF EXISTS [dbo].[Enfermeras]
GO
/****** Object:  Table [dbo].[Doctores]    Script Date: 29/05/2020 03:57:22 p. m. ******/
DROP TABLE IF EXISTS [dbo].[Doctores]
GO
/****** Object:  Table [dbo].[Diagnostico]    Script Date: 29/05/2020 03:57:22 p. m. ******/
DROP TABLE IF EXISTS [dbo].[Diagnostico]
GO
/****** Object:  Table [dbo].[CentrosDeControl]    Script Date: 29/05/2020 03:57:22 p. m. ******/
DROP TABLE IF EXISTS [dbo].[CentrosDeControl]
GO
/****** Object:  Table [dbo].[Camas]    Script Date: 29/05/2020 03:57:22 p. m. ******/
DROP TABLE IF EXISTS [dbo].[Camas]
GO
USE [master]
GO
/****** Object:  Database [Hospital]    Script Date: 29/05/2020 03:57:22 p. m. ******/
DROP DATABASE IF EXISTS [Hospital]
GO
/****** Object:  Database [Hospital]    Script Date: 29/05/2020 03:57:22 p. m. ******/
CREATE DATABASE [Hospital]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Hospital', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Hospital.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Hospital_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Hospital_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Hospital].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Hospital]
GO
/****** Object:  Table [dbo].[Camas]    Script Date: 29/05/2020 03:57:22 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Camas](
	[Cama_id] [int] NOT NULL,
	[NumDeCama] [int] NOT NULL,
	[PisoDeLaCama] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Cama_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CentrosDeControl]    Script Date: 29/05/2020 03:57:22 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CentrosDeControl](
	[Centros_id] [int] NOT NULL,
	[Sala] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Centros_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Diagnostico]    Script Date: 29/05/2020 03:57:22 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diagnostico](
	[Diagnostico_id] [varchar](50) NOT NULL,
	[Paciente] [varchar](50) NOT NULL,
	[Medicamento] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Diagnostico_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctores]    Script Date: 29/05/2020 03:57:22 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctores](
	[doctor_id] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[PrimerApellido] [varchar](50) NOT NULL,
	[SegundoApellido] [varchar](50) NOT NULL,
	[NombreCompleto]  AS (((([Nombre]+' ')+[PrimerApellido])+' ')+[SegundoApellido]),
PRIMARY KEY CLUSTERED 
(
	[doctor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enfermeras]    Script Date: 29/05/2020 03:57:22 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enfermeras](
	[Enfermera_id] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[PrimerApellido] [varchar](50) NOT NULL,
	[SegundoApellido] [varchar](50) NOT NULL,
	[NombreCompleto]  AS (((([Nombre]+' ')+[PrimerApellido])+' ')+[SegundoApellido]),
PRIMARY KEY CLUSTERED 
(
	[Enfermera_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hospital]    Script Date: 29/05/2020 03:57:22 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hospital](
	[Hospital_id] [int] NOT NULL,
	[Municipio] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Hospital_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pacientes]    Script Date: 29/05/2020 03:57:22 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pacientes](
	[Paciente_id] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[PrimerApellido] [varchar](50) NOT NULL,
	[SegundoApellido] [varchar](50) NOT NULL,
	[NombreCompleto]  AS (((([Nombre]+' ')+[PrimerApellido])+' ')+[SegundoApellido]),
PRIMARY KEY CLUSTERED 
(
	[Paciente_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Piso]    Script Date: 29/05/2020 03:57:22 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Piso](
	[Piso_id] [varchar](50) NOT NULL,
	[NumPiso] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Piso_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salas]    Script Date: 29/05/2020 03:57:22 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salas](
	[Salas_id] [int] NOT NULL,
	[NumPiso] [int] NOT NULL,
	[NumSala] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Salas_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Urgencias]    Script Date: 29/05/2020 03:57:22 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Urgencias](
	[Paciente] [varchar](50) NOT NULL,
	[doctor_id] [varchar](50) NOT NULL,
	[Enfermera_id] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Camas] ([Cama_id], [NumDeCama], [PisoDeLaCama]) VALUES (1, 1, 1)
INSERT [dbo].[Camas] ([Cama_id], [NumDeCama], [PisoDeLaCama]) VALUES (2, 2, 1)
INSERT [dbo].[Camas] ([Cama_id], [NumDeCama], [PisoDeLaCama]) VALUES (4, 4, 1)
INSERT [dbo].[CentrosDeControl] ([Centros_id], [Sala]) VALUES (1, N'Emergencias')
INSERT [dbo].[CentrosDeControl] ([Centros_id], [Sala]) VALUES (3, N'terapia')
INSERT [dbo].[CentrosDeControl] ([Centros_id], [Sala]) VALUES (4, N'Laboratorio')
INSERT [dbo].[Diagnostico] ([Diagnostico_id], [Paciente], [Medicamento]) VALUES (N'cinco', N'Sergio', N'Motilium')
INSERT [dbo].[Diagnostico] ([Diagnostico_id], [Paciente], [Medicamento]) VALUES (N'cuatro', N'Enrique', N'Paracetamol')
INSERT [dbo].[Diagnostico] ([Diagnostico_id], [Paciente], [Medicamento]) VALUES (N'diez', N'Roberto', N'Paracetamol')
INSERT [dbo].[Doctores] ([doctor_id], [Nombre], [PrimerApellido], [SegundoApellido]) VALUES (1, N'Diego', N'Aguilera', N'Campos')
INSERT [dbo].[Doctores] ([doctor_id], [Nombre], [PrimerApellido], [SegundoApellido]) VALUES (2, N'Misael', N'Rodriguez', N'Chaves')
INSERT [dbo].[Doctores] ([doctor_id], [Nombre], [PrimerApellido], [SegundoApellido]) VALUES (4, N'Manuel', N'Herrera', N'Castro')
INSERT [dbo].[Enfermeras] ([Enfermera_id], [Nombre], [PrimerApellido], [SegundoApellido]) VALUES (1, N'Maria', N'Hernandez', N'Gonzales')
INSERT [dbo].[Enfermeras] ([Enfermera_id], [Nombre], [PrimerApellido], [SegundoApellido]) VALUES (2, N'Consuelo', N'Torres', N'Felix')
INSERT [dbo].[Enfermeras] ([Enfermera_id], [Nombre], [PrimerApellido], [SegundoApellido]) VALUES (4, N'Jasmin', N'Flores', N'Garza')
INSERT [dbo].[Hospital] ([Hospital_id], [Municipio]) VALUES (1, N'Monterrey')
INSERT [dbo].[Hospital] ([Hospital_id], [Municipio]) VALUES (2, N'Monterrey')
INSERT [dbo].[Hospital] ([Hospital_id], [Municipio]) VALUES (3, N'Monterrey')
INSERT [dbo].[Pacientes] ([Paciente_id], [Nombre], [PrimerApellido], [SegundoApellido]) VALUES (1, N'Oracio', N'Escamilla', N'Valdez')
INSERT [dbo].[Pacientes] ([Paciente_id], [Nombre], [PrimerApellido], [SegundoApellido]) VALUES (2, N'Omar', N'Fernandez', N'Vergara')
INSERT [dbo].[Pacientes] ([Paciente_id], [Nombre], [PrimerApellido], [SegundoApellido]) VALUES (3, N'Javier', N'Puente', N'Olvera')
INSERT [dbo].[Piso] ([Piso_id], [NumPiso]) VALUES (N'1', N'6')
INSERT [dbo].[Piso] ([Piso_id], [NumPiso]) VALUES (N'10', N'10')
INSERT [dbo].[Piso] ([Piso_id], [NumPiso]) VALUES (N'2', N'2')
INSERT [dbo].[Salas] ([Salas_id], [NumPiso], [NumSala]) VALUES (1, 1, 1)
INSERT [dbo].[Salas] ([Salas_id], [NumPiso], [NumSala]) VALUES (2, 1, 2)
INSERT [dbo].[Salas] ([Salas_id], [NumPiso], [NumSala]) VALUES (4, 1, 4)
INSERT [dbo].[Urgencias] ([Paciente], [doctor_id], [Enfermera_id]) VALUES (N'1', N'1', N'1')
INSERT [dbo].[Urgencias] ([Paciente], [doctor_id], [Enfermera_id]) VALUES (N'2', N'2', N'2')
INSERT [dbo].[Urgencias] ([Paciente], [doctor_id], [Enfermera_id]) VALUES (N'3', N'3', N'3')
USE [master]
GO

use Hospital

select * from Camas where cama_id='1'
select * from CentrosDeControl where Sala='Emergencias'
select * from Diagnostico where Paciente='Sergio'
select * from Doctores where NombreCompleto = 'Diego Aguilera Campos'
select * from Enfermeras where NombreCompleto='Consuelo Torres Felix'



select count(Hospital_id)CantidadHospitales, Municipio from Hospital group by Municipio
select count(Cama_id)as NumeroDeCamas,PisoDeLaCama from camas group by PisoDeLaCama
select count(Diagnostico_id) as CantidadMedicamento, Medicamento from Diagnostico group by Medicamento
select count(doctor_id) as Cantidad, Nombre from Doctores group by Nombre
select count(Enfermera_id) as Cantidad, Nombre from Enfermeras group by Nombre



select count(NumDeCama)TotalCamas from Camas
select count(Centros_id)TotalCentros from CentrosDeControl
select count(Diagnostico_id)TotalDiagnostico from Diagnostico
select count(doctor_id)TotalDoctores from Doctores
select count(Enfermera_id)TotalEnfermeras from Enfermeras


select count(Hospital_id)CantidadHospitales, Municipio from Hospital group by Municipio having count(Hospital_id) > 2
select count(Cama_id) as NumeroDeCamas,PisoDeLaCama from camas group by PisoDeLaCama having count(Cama_id) > 1
select count(Diagnostico_id) as CantidadMedicamento, Medicamento from Diagnostico group by Medicamento having count(Diagnostico_id) <2
select count(doctor_id) as Cantidad, Nombre from Doctores group by Nombre having count(doctor_id)  <3
select count(Enfermera_id) as Cantidad, Nombre from Enfermeras group by Nombre having count(Enfermera_id) <4



SELECT TOP 1 * FROM CentrosDeControl
SELECT TOP 2 * FROM Doctores
SELECT TOP 3 * FROM Pacientes
SELECT TOP 4 * FROM Hospital
SELECT TOP 5 * FROM Diagnostico